.editor {
  background-color: white;
  min-height: 5rem;
  margin-top: 0.25rem;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  padding: 0.25rem;
}
.undoStack {
  display: none !important;
  visibility: hidden !important;
}
.redoStack {
  display: none !important;
  visibility: hidden !important;
}
.counter {
  background-color: #e7e7e7;
  padding: 5px;
  border: 1px solid #a9a9a9;
  font-size: 0.875rem /* 14px */;
  display: inline-block;
}
